/* Block */

.pretty-link-box img.pretty-link-box-image {
    height: 100%;
}

.pretty-link-box-ref-input-wrap {
    margin: 1em 0;
    padding: 0 1em;
    border: 1px solid gray;
}

div.pretty-link-box-ref-input-wrap p {
    font-size: 0.8em;
    line-height: 1.4em;
}

/* Sidebar */

#pretty-link-box-media-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

#pretty-link-box-media-button + .components-button.is-destructive {
    margin-top: 0.5em;
}

.pretty-link-box-image-size-control > * {
    flex: 0 0 100%;
}

.pretty-link-box-image-size-control .components-base-control__help {
    text-align: right;
}

.pretty-link-box-input-control .components-input-control__container,
.pretty-link-box-select-control .components-input-control__container {
    max-width: 90px;
    margin-left: auto;
}

.pretty-link-box-link-control .block-editor-link-control {
    min-width: initial;
}

.pretty-link-box-link-control .components-base-control.block-editor-url-input,
.pretty-link-box-link-control .block-editor-link-control__tools {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.pretty-link-box-link-control .block-editor-link-control__tools {
    padding-bottom: 0;
    border-top: none;
}

.pretty-link-box-link-control .block-editor-link-control__search-results {
    border: 1px solid #ddd;
    margin-top: 18px;
}