:root {
    --pretty-link-box--font-size--title: 1.4em;
    --pretty-link-box--font-size--subtitle: 1em;
    --pretty-link-box--font-size--ref-box: 12px;
    --pretty-link-box--dim--ref-box: 1.8em;
    --pretty-link-box--font-color: #fff;
    --pretty-link-box--bg-color: #000;
    --pretty-link-box--opacity: 0.3;
    --pretty-link-box--duration: 0.33s;
}

.pretty-link-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 1em auto;
    overflow: hidden;
    user-select: none;
    background-image: linear-gradient(143deg, #999999, #e6e3e2);
    transition: box-shadow var(--pretty-link-box--duration);
}

.pretty-link-box *,
.pretty-link-box *::before,
.pretty-link-box *::after {
    box-sizing: inherit;
}

.pretty-link-box.has-border {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}

.pretty-link-box.has-shadow.is-animated:hover,
.pretty-link-box.has-shadow:not(.is-animated) {
    box-shadow: 0 0 10px #bfbfbf;
}

.pretty-link-box-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pretty-link-box-title-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 25%;
    padding: 0.5em 1.0em;
    z-index: 2;
    text-align: center;
    color: var(--pretty-link-box--font-color);
    transition:
        top var(--pretty-link-box--duration),
        transform var(--pretty-link-box--duration);
}

.pretty-link-box.is-animated:hover .pretty-link-box-title-wrap,
.pretty-link-box.has-bottom-title .pretty-link-box-title-wrap {
    top: 100%;
    transform: translateY(-100%);
}

.pretty-link-box-title,
.pretty-link-box-subtitle {
    display: block;
    margin: 0;
    font-family: inherit;
    font-weight: normal;
    line-height: 1;
}

.pretty-link-box-title {
    font-size: var(--pretty-link-box--font-size--title);
}

.pretty-link-box-subtitle {
    margin-top: 0.5em;
    font-size: var(--pretty-link-box--font-size--subtitle);
}

.pretty-link-box-image-layer,
.pretty-link-box-title-layer,
.pretty-link-box-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pretty-link-box-image-layer,
.pretty-link-box-title-layer {
    background-color: var(--pretty-link-box--bg-color);
    transition: opacity var(--pretty-link-box--duration);
}

.pretty-link-box-image-layer {
    z-index: 1;
    opacity: var(--pretty-link-box--opacity);
}

.pretty-link-box-title-layer {
    z-index: -1;
    opacity: 0;
}

.pretty-link-box.is-animated:hover .pretty-link-box-image-layer,
.pretty-link-box.has-bottom-title .pretty-link-box-image-layer {
    opacity: 0;
}

.pretty-link-box.is-animated:hover .pretty-link-box-title-layer,
.pretty-link-box.has-bottom-title .pretty-link-box-title-layer {
    opacity: var(--pretty-link-box--opacity);
}

.pretty-link-box-link {
    z-index: 3;
}

.pretty-link-box-ref-box {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    width: var(--pretty-link-box--dim--ref-box);
    height: var(--pretty-link-box--dim--ref-box);
    border-radius: calc(var(--pretty-link-box--dim--ref-box) / 2);
    font-size: var(--pretty-link-box--font-size--ref-box);
    line-height: var(--pretty-link-box--dim--ref-box);
    text-align: center;
    background-color: white;
}

.pretty-link-box-references {
    margin-top: 2em;
}

.pretty-link-box-references p {
    font-size: 0.9em;
}

.pretty-link-box-references p:not(:first-child) {
    margin: 0;
}

@media only screen and (max-width: 768px) {

    .pretty-link-box:not(.has-center-title) .pretty-link-box-title-wrap {
        top: 100%;
        transform: translateY(-100%);
    }

    .pretty-link-box:not(.has-center-title) .pretty-link-box-image-layer {
        opacity: 0;
    }

    .pretty-link-box:not(.has-center-title) .pretty-link-box-title-layer {
        opacity: var(--pretty-link-box--opacity);
    }

    .pretty-link-box:not(.has-center-title) .pretty-link-box.has-shadow {
        box-shadow: 0 0 10px #bfbfbf;
    }

}